 
.h-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2b2929;
    padding: 10px 0;
}
.h1-navbar a{
    text-decoration: none;
    margin-right: 35px;
    color: #fff;
    padding: 16px;
}
.h1-navbar a i {
    margin-right: 8px;
}
#nav-close{
    display: none;
}


.h2-navbar a:first-child{
    margin-left: 15px;
    background-color: red;
    padding: 11px;
    color: #fff;
}
.h2-navbar a:last-child{
    padding: 16px;
    color: #fff;
}
.h2-navbar a:last-child i{
    margin-left: 5px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    /* padding: 10px 0; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    position: sticky;
    top: 0;

}
.nav-1 img{
    height: 80px;
    width: 80px;
    margin-left: 20px;
}

.nav-2 ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-2 ul li{
    padding: 0 30px;
    font-size: 20px;font-weight: 400;
    position: relative;
}
.nav-2 ul li a{
    font-size: 22px;
    font-weight: 500;
    color: #000;
    transition: 0.2s ease-in-out;
}
.nav-2 ul li a:hover{
    color: rgb(216, 71, 71);
}
.nav-2 ul li a:hover::after,
.nav-2 ul li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(216, 71, 71);
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.nav-2 ul li a.active{
    color: rgb(216, 71, 71);
}
nav i{
    color: #000;
}






/* Media Query */
@media (max-width: 768px) {
    .h-navbar{
        font-size: 10px;
        align-items: center;
        background: #2b2929;
        padding: 5px 0;
    }
    .h1-navbar{
        margin-left: 20px;
    }
    .h1-navbar a{
        margin-left: 20px;
        margin-right: 10px;
    }
    .h2-navbar{
        display: none;
    }
    main{
        position: relative;
    }
    nav{
        padding: 8px 0;
        width: 100%;
        position: sticky;
        top: 0;
    }
    nav i{
        color: #000;
    }
    nav .nav-1 img{
        height: 40px;
        width: 40px;
        margin-left: 10px;
    }
    nav .nav-2 ul{
        display: flex;
        font-size: 11px;
    }
    nav .nav-2 ul li{
        font-size: 11px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #nav-close{
        display: block;
    }
    #nav-menu{
        display: none;
    }

}
